ul h {
    list-style-type: 0;
    margin: 0%;
    padding: 0%;
    overflow: hidden;
    background-color: black;
}
li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    pad: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111

}

 .container{
    display: grid;
    grid-template-columns: auto auto;
 }
